img {
    width: 300px;
    height: 200px;
}
.window {
    width: 300px;
    overflow: hidden;
}
.images {

    display: flex;
    align-items: flex-start;
    transition: all .5s;

}

.red {
    color: red;
}

